.automaton {
  width: fit-content;

  .board {
    .row {
      display: flex;

      .cell {
        width: 10px;
        height: 10px;
        border: 1px solid blue;

        &.alive {
          background-color: black;
        }
      }
    }
  }
}
